.body__wrapper {  /* Обёртка-центровщик */
  width: 90vw;
  min-height: 100vh;
  margin: 0 auto;
  background: radial-gradient(at top, rgb(254, 255, 255), rgb(167, 206, 204));
  border: 1px solid aliceblue;
  line-height: 1;
}
@media screen and (max-width: 600px){
  .body__wrapper{
      width: 96vw;
      zoom: 2;
  }
}

.cWrapper{  /* Блок с заголовком и кнопкой */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  width: 70%;
  margin: 0 auto 20px auto;
  padding-top: 20px;
}
#add{
  background-color: rgb(43, 255, 0);
  width: 8vw;
  height: 8vw;
  line-height: 8vw;
  color: #1c1c1c;
  margin: 0; /* Обнулил отступы */
}
.del{
    background-color: rgb(255, 0, 0);
    position: absolute;
    color: aliceblue;
    padding: 1pt;
    font-size: .5em;
    width: 15pt;
    height: 15pt;
    right: 0;
    top: 0;
}
.card button{
    display: none;
}
.card:hover button{
    display: block;
}
.body__button {
    /*классдлякнопкивместоглобальногостиля*/border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    transition: 0.5s;
    transition-delay: 0.2s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
#myList{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.card{
  margin: 20px 10px;
  flex-grow: 1;
  width: 30%;
}

.card-footer:hover{
    cursor: pointer;
}
